
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,700;0,900;1,200;1,300;1,400;1,900&display=swap');
/* font-family: 'Source Code Pro', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,100;1,300;1,400&display=swap');
/* font-family: 'Roboto', sans-serif; */

body{
    font-family: 'Source Code Pro', monospace;
}

h1, h2, h3, h4, h5{
    font-family: 'Roboto', sans-serif;
}

.flex{
    display: flex !important;
}

.wrap{
    flex-wrap: wrap;
}

.link{
    color: #994529;
}
.link:hover{
    color: #ec7309;
}

.small{
    display: none !important;
}

.bigScreen{
    display: revert;
}

.cellAppear{
    display: none;
}

/* HEADER */

header{
    height: 7rem;
    background-color: white;
}

.sticky{
    position: sticky;
    top: 0;
}

.banner{
    width: 100%;
}

.logo{
    height: auto;
    max-width: 11rem;
    margin-top: 0.5rem;
}


.navElement{
    list-style: none;
    display: flex;
    text-decoration: none;
    color: #214151;
    font-weight: 400;
    padding-top: 1rem;
    font-size: 1.2rem;
}

header a{
    text-decoration: none!important;
    display: flex!important;
    position: relative;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0.8rem;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.flexH{
    display: flex;
    justify-content: center;
}

.colormargin{
    background-color: #456043;
    height: 0.8rem;
}




/* MAIN */
.main{
    min-height: 10rem!important;
}

.mainpad{
    margin: 2rem 0 !important;
}

h3{
    font-size: 1.75rem;
    color: #456043;
}

.padTop{
    padding-top: 1rem;
}

.padBot{
    padding-bottom: 1rem;
}

.quienSomos{
    width: 40% !important;
    margin-right: auto;
    margin-left: auto;
    background-color: white;
    border-radius: 30px;
    margin-top: 8rem !important;
}

.quienSomosP{
    padding: 2rem;
}

p{
    text-align: justify;
    font-size: 1em;
}

.padR{
    padding-right: 2rem;
}

.padL{
    padding-left: 2rem;
}

.centernone{
    margin-left: 0% !important;
}

.justify{
    text-align: justify;
}

.QuienBC{
    background-image: url(./img/quienSomosBC.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 40rem;
    margin: 3rem 0rem;
}


/* ACTIVITIES */
.activitiesT{
    color: #456043;
}

.activities img{
    width: 100%;
    float: right;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.activityW{
    padding-left: 18%!important;
    width: 80%!important;
    margin-left: 0%!important;
}

.moreInfo{
    max-width: 8.5rem;
    justify-self: end;
}

.activityImg{
    opacity: 1;
    transition: 1s;
}

.activityImg:hover{
    opacity: 0.7;
    transform: scale(1.1);
}

.allCaps{
    text-transform: uppercase;
}

/* SOMOS SUYAS */
.subpagesh3{
    text-align: center;
    color: #994529;
    font-weight: 600;
}

.subpages{
    max-width: 60%!important;
}

.subpages img{
    max-width: 100%;
}

.masinfoh5{
    font-size: 1rem;
    color: black;
    font-weight: 400;
}

.center{
    margin-left: 19rem!important;
}

.text-right{
    text-align: right!important;
}

.text-left{
    text-align: left!important;
}

/* DONATIONS */
.backgroundDonation{
    width: 100%;
    padding-top: 1rem;
}

.backgroundDonationTwo{
    min-height: 20rem;
    background-color: #f8dc81;
    color: #715a2a;
    margin-top: -8rem;
}

.donMargin{
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 1rem;
}

.pagesBanner{
    border-radius: 25px 25px 0 0;
}

.fixContacts{
    margin-top: -6rem;
}

.donatebox{
    height: auto;
    max-width: 20rem;
    margin-left: 10%;
    margin-top: -3%;
}

.list{
    list-style: none;
}

.list a{
    text-decoration: none;
    font-weight: 400;
    color: #715a2a;
}

.list li{
    margin-top: -0.2rem;
}

.list a:hover{
    color: #715a2a;
}

/* A TU ALCANCE- TALLERES */

.justify{
    text-align: justify;
}

.full{
    width: 100%;
}

th{
    padding-right: 1rem;
}

td{
    width: 50%;
}

.social{
    color: #536771;
    margin-right: auto;
    margin-left: auto;
    display: table;
}

/* FOOTER */
.footer{
    padding: 1rem;
    background-color: #F2F6E6;
}

.icon{
    width: 2em !important;
    height: 2em !important;
}

.icon:hover{
    color: #1d8bc2;
}

.socialmedia{
    display: flex;
    color: #536771;
}

.socialmedia li{
    list-style: none;
    padding: 0 0.5rem;
    margin-top: 1rem;
}

.socialmedia a{
    color: #536771;
}

.logoFooter{
    max-width: 6rem;
    align-self: center;
    margin-top: 0.7rem;
}

ul{
    padding-left: 0!important;
}

.col-2{
    flex: 0 0 auto;
    width: 11%!important;
}

.right{
    text-align: right;
    justify-content: right;
}

.donate{
    max-width: 5rem;
    margin-top: 1rem;
}

a:hover{
    color: black;
}

/* MATERIAL */

.tryVertical{
    margin-top: auto !important;
    margin-bottom: auto !important;
}

.materialT{
    color: #994529;
}

/* CONTACT US */

.mandar{
    background-color: #cddfa5 !important;
}

.mandar:hover{
    background-color: #e9ffb986 !important;
}

.sizeFix {
    font-size: 3rem;
    margin-bottom: -1rem;
}





/* MEDIA QUERIES */

/* BIG SCREEN */
@media (min-width: 1025px){
    .mainLarge{
        min-height: 42rem;
    }
}




/* TABLET */
@media (max-width: 850px){
    .navElement{
        font-size: 1rem;
    }
    .padR {
        padding-right: 1rem;
    }
    .logo{
        max-width: 10rem;
    }
    .quienSomos {
        width: 60% !important;
    }
    footer .icon{
        margin-left: 2rem !important;
    }
    .small{
        display: revert !important;
    }
    .bigScreen{
        display: none;
    }
    .main{
        min-height: 30rem!important;
    }
    .backgroundDonationTwo{
        min-height: 20rem;
        background-color: #f8dc81;
        color: #715a2a;
        margin-top: -5rem;
    }
    .mainTwo{
        min-height: 80vh !important;
    }
    .colAdjustFull{
        width: 100% !important;
    }
    .sizeFix {
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
}








/* CELLPHONE */
@media (max-width: 480px){
    .cellDisappear{
        display: none;
    }
    .cellAppear{
        display: revert;
    }
    .logo{
        max-width: 7rem;
        margin-left: 1rem;
    }
    .menu{
        margin-top: 1rem;
        float: right;
        margin-right: 1rem;
    }
    .quienSomos{
        width: 95% !important;
        margin-top: 5rem !important;
        border-radius: 0;
    }
    .bannerSmall{
        width: 120%;
        margin-left: -4rem;
    }
    .activityW {
        padding-left: 5%!important;
        width: 95%!important;
        margin-left: 0%!important;
    }
    .QuienBC{
        background-position: center;
    }
    .donatebox {
        height: auto;
        max-width: 11rem;
        margin-left: auto;
        margin-top: 0;
        margin-right: auto;
    }
    .donMargin{
        padding-bottom: 2.5rem;
        margin-top: 4rem;
    }
    .svg{
        width: 100%;
    }
    .colFix{
        width: 30% !important;
    }
    .CellExtraPad{
        margin-bottom: 4rem;
    }
    .line-3{
        width: 70%;
        margin-left: 15%;
        z-index: -5;
        position: relative;
    }
    .dropdown-menu {
        --bs-dropdown-link-active-bg: #fda172 !important;
        border-radius: 30px !important;
        box-shadow: 5px 10px 20px #64595969;
    }
    .subpages {
        max-width: 90%!important;
    }
    .sizeFix {
        margin-bottom: 0rem;
    }
}